body {
    font-family: Arial, Helvetica, sans-serif
}
#top-section {
    background-color: rgb(153, 153, 153); 
    height: 140px;
    text-align: center;
    margin: 30px;
    border-radius: 20%;
    color: rgb(169, 112, 66);
}
#name {
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(169, 112, 66);
 }
 #profile-pic {
    margin-right: 1300px;
    margin-top: -80px;
    border-radius: 50%;
    
}
 #middle-section {
    background-color: rgb(25, 29, 72); 
    height: 600px;
    margin: 30px;
    margin-top: -110px;
    border-radius: 20%;
    text-align: center;
    color: cornsilk;

}
#projects-section {
    background-color: rgb(25, 29, 72); 
    height: 600px;
    margin: 30px;
    margin-top: -110px;
    border-radius: 20%;
    text-align: center;
    color: cornsilk;   
}