body {
    font-family: Arial, Helvetica, sans-serif
}
#top-section {
    background-color: rgb(153, 153, 153); 
    height: 10px;
    color: rgb(169, 112, 66);
    margin: 30px;
    padding: 70px;

}
#name {
   text-align: top;
   font-size: 100px;
   font-weight: bold;
}
#profile-pic {
    margin-top: 0px;
    border-radius: 50%;     
}
#middle-section {
    background-color: rgb(25, 29, 72); 
    height: 60px;
    color: rgb(169, 112, 66);
    margin: 30px;
    padding: 70px;

}